<h1>{{ section }}</h1>
<div id="command_control">
    <button type="button"
            id="start_question"
            class="btn btn-large">
        Start
    </button>
    <button type="button"
            id="stop_question"
            class="btn btn-large">
        Stop
    </button>
</div>
<div id="command_question">
    <p id="command_description"
       class="lead">
        Description
    </p>
    <div class="progress"
         id="elapsed_progress">
        <div class="bar" style="width: 0%;"></div>
    </div>
    <div class="well well-large">
        <table class="table"
               id="question_table">
            <tr>
                <td class="col_1">
                    <strong>Hint:</strong>
                </td>
                <td>
                    <span id="command_hint"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Correct:</strong>
                </td>
                <td>
                    <span id="correct_answers">0</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Wrong:</strong>
                </td>
                <td>
                    <span id="wrong_answers">0</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Status Message:</strong>
                </td>
                <td>
                    <span id="status_message"></span>
                </td>
            </tr>
        </table>
    </div>
    <form id="command_form">
        <fieldset>
            <div>
                <input type="text"
                       id="command_answer"
                       name="command"/>
            </div>
            <button type="button"
                    id="submit_command"
                    class="btn btn-large">
                Submit
            </button>
        </fieldset>
    </form>
</div>
