<h1>{{ section }}</h1>
<div id="command_control">
    <button type="button"
            id="start_question"
            class="btn btn-large">
        Start
    </button>
    <button type="button"
            id="stop_question"
            class="btn btn-large">
        Stop
    </button>
</div>
<div id="command_question">
    <p id="command_description"
       class="lead">
        Description
    </p>
    <form>
        <fieldset>
            <div>
                <input type="text"
                       id="command_answer"
                       name="command"/>
            </div>
            <button type="button"
                    id="submit_command"
                    class="btn btn-large">
                Submit
            </button>
        </fieldset>
    </form>
</div>
